<a href="https://colab.research.google.com/github/leonardovin/e-store-nodejs-express-mongo-vue/blob/main/Exemplo_S%C3%A9ries_Temporais.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("petro.csv", delimiter=',', index_col='Date')

df

                 Open       High        Low      Close  Adj Close       Volume
Date
2011-01-03  27.500000  27.580000  26.910000  27.000000  19.787769   22738500.0
2011-01-04  27.010000  27.059999  26.400000  26.900000  19.714476   30936600.0
2011-01-05  26.680000  27.350000  26.580000  27.219999  19.949003   24306800.0
2011-01-06  27.200001  27.459999  27.010000  27.110001  19.868389   24328800.0
2011-01-07  27.020000  27.180000  26.730000  26.730000  19.589888   17453800.0
...               ...        ...        ...        ...        ...          ...
2021-10-25  27.760000  29.309999  27.650000  29.040001  29.040001  135830600.0
2021-10-26  28.799999  29.230000  28.600000  28.760000  28.760000   57865600.0
2021-10-27  28.830000  29.059999  28.469999  28.690001  28.690001   57579200.0
2021-10-28  28.530001  29.250000  28.250000  28.959999  28.959999   89578000.0
2021-10-29  29.129999  29.190001  26.969999  27.150000  27.150000  157340000.0

[2687 rows x 6 columns]

In [ ]:
print(df.shape)

(2687, 6)

In [ ]:
step_forward = 2 #etapas a frente

if df.iloc[0:1, 3].values[0] != 0:
  df['Close'] = df.Close.shift(periods=step_forward, fill_value=0)  #Só pode executar uma vez.

print(df.head())
print(df.shape)

                 Open       High    Low      Close  Adj Close      Volume
Date
2011-01-03  27.500000  27.580000  26.91   0.000000  19.787769  22738500.0
2011-01-04  27.010000  27.059999  26.40   0.000000  19.714476  30936600.0
2011-01-05  26.680000  27.350000  26.58  27.000000  19.949003  24306800.0
2011-01-06  27.200001  27.459999  27.01  26.900000  19.868389  24328800.0
2011-01-07  27.020000  27.180000  26.73  27.219999  19.589888  17453800.0
(2687, 6)

In [ ]:
df2 = df.iloc[step_forward:, :]

df2

                 Open       High        Low      Close  Adj Close       Volume
Date
2011-01-05  26.680000  27.350000  26.580000  27.000000  19.949003   24306800.0
2011-01-06  27.200001  27.459999  27.010000  26.900000  19.868389   24328800.0
2011-01-07  27.020000  27.180000  26.730000  27.219999  19.589888   17453800.0
2011-01-10  26.650000  27.020000  26.580000  27.110001  19.773111   14366200.0
2011-01-11  27.100000  27.400000  27.070000  26.730000  19.897705   23190100.0
...               ...        ...        ...        ...        ...          ...
2021-10-25  27.760000  29.309999  27.650000  27.450001  29.040001  135830600.0
2021-10-26  28.799999  29.230000  28.600000  27.180000  28.760000   57865600.0
2021-10-27  28.830000  29.059999  28.469999  29.040001  28.690001   57579200.0
2021-10-28  28.530001  29.250000  28.250000  28.760000  28.959999   89578000.0
2021-10-29  29.129999  29.190001  26.969999  28.690001  27.150000  157340000.0

[2685 rows x 6 columns]


Essa configuração considera N dias de treino e 1 dia de teste para prever ETAPAS DE TEMPO À FRENTE.

Por exemplo: Suponha que todo conjunto do dataset é 02/01/2021 à 30/01/2021

1ª Avaliação

    TREINO: 02 à 11 de Janeiro
    TESTE: 12 de Janeiro. 
    Para prever ETAPA DE TEMPO À FRENTE. 

Se step-forward = 1 
A previsão é para 13 de Janeiro.

Se step-forward = 2 
A previsão é para 14 de Janeiro.


2ª Avaliação

    TREINO: 02 à 12 de Janeiro
    TESTE: 13 de Janeiro. 
    Para prever ETAPA DE TEMPO À FRENTE. 

Se step-forward = 1 
A previsão é para 14 de Janeiro.

Se step-forward = 2 
A previsão é para 15 de Janeiro.

...

**n** Avalições

In [ ]:


train = int(df.shape[0] * 0.3) # Primeiro treino com 30% dos dados

print("1º Treino: 0 - ", train)

for day in range(train, df.shape[0]):

  X_treino = df2.iloc[0: day, [0, 1, 2, 4, 5]]
  y_treino = df2.iloc[0: day, 4]

  X_teste = df2.iloc[day : day + 1, [0, 1, 2, 4, 5] ]
  y_teste = df2.iloc[day : day + 1, 4]

  print("Dados de treino X: \n", X_treino)
  print("Dados de treino y: \n", y_treino)
  print("Dados de teste X: \n", X_teste)
  print("Dados de teste y: \n", y_teste)

  #APENAS PARA NAO EXECUTAR TUDO
  if(day == 806):
    break

1º Treino: 0 -  806
Dados de treino X:
                  Open       High    Low  Adj Close      Volume
Date
2011-01-05  26.680000  27.350000  26.58  19.949003  24306800.0
2011-01-06  27.200001  27.459999  27.01  19.868389  24328800.0
2011-01-07  27.020000  27.180000  26.73  19.589888  17453800.0
2011-01-10  26.650000  27.020000  26.58  19.773111  14366200.0
2011-01-11  27.100000  27.400000  27.07  19.897705  23190100.0
...               ...        ...    ...        ...         ...
2014-04-01  15.720000  15.850000  15.48  12.559381  36206100.0
2014-04-02  15.710000  16.600000  15.70  12.360780  66007000.0
2014-04-03  15.530000  15.650000  15.12  13.044515  56189100.0
2014-04-04  15.620000  15.710000  15.35  13.078398  33173500.0
2014-04-07  15.700000  16.459999  15.70  13.942386  50400200.0

[806 rows x 5 columns]
Dados de treino y:
 Date
2011-01-05    19.949003
2011-01-06    19.868389
2011-01-07    19.589888
2011-01-10    19.773111
2011-01-11    19.897705
                ...
2014-04-01    12.559381
2014-04-02    12.360780
2014-04-03    13.044515
2014-04-04    13.078398
2014-04-07    13.942386
Name: Adj Close, Length: 806, dtype: float64
Dados de teste X:
                  Open   High    Low  Adj Close      Volume
Date
2014-04-08  16.799999  17.07  15.72  13.544273  69307600.0
Dados de teste y:
 Date
2014-04-08    13.544273
Name: Adj Close, dtype: float64